<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerConnection"/>
        <property name="url" value="sqlserver://mssql4.gear.host;databaseName=ECYatzy"/>
        <property name="username" value="ecyatzy"/>
        <property name="password" value="Ev6HaoL~Mp!I"/>
    </bean>

    <bean id="highscoreJDBCTemplate"
          class="se.keroprog.webb.yahtzeebackend.Repository.JDBCTemplates.HighscoreJDBCTemplate">
        <property name="dataSource"  ref="dataSource" />
    </bean>
</beans>