<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body ng-app="app" ng-controller="MainController as mc">

<div>
    <h4>Welcome to Yahtzee Online!</h4>
    <form id="numberOfPlayersForm" ng-submit="mc.confirmNumberOfPlayers(mc.selectedOption.value)" class="loginForm">
        <label for="numberOfPlayersList">Select Number of Players</label><br />
        <select name="numberOfPlayersList"
                id="numberOfPlayersList"
                ng-model="mc.selectedOption"
                ng-options="option.value for option in mc.options"
                ng-init="numberOfPlayers = numberOfPlayers || options[2].value">
        </select>

        <input type="submit" value="Continue" />
    </form>
</div>


<script type="text/javascript" src="../static/js/angular.min.js" th:src="@{../js/angular.min.js}"></script>
<script type="text/javascript" src="../static/app/app.module.js" th:src="@{../app/app.module.js}"></script>
<script type="text/javascript" src="../static/app/highscore.controller.js" th:src="@{../app/highscore.controller.js}"></script>
<script type="text/javascript" src="../static/app/main.controller.js" th:src="@{../app/main.controller.js}"></script>
</body>
</html>